* {
    font-family: Roboto;
    /* border: 1px solid black; */
    /* padding: 20px; */
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 12px 256px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
}

.header-left {
    font-size: 36px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-right {
    display: inline-flex;
    font-size: 28px;
    color: #E5E7EB;
    gap: 28px;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    padding: 96px 0px;
    gap: 16px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    gap: 16px;
}

.hero-text .main {
    font-size: 60px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
    width: 400px;
}

.hero-text .secondary {
    font-size: 24px;
    color: #E5E7EB;
    margin: 0px;
    width: 500px;
}

.hero-image {
    display: flex;
    height: 100%;
    width: auto;
    gap: 8px;
}

.hero-image img {
    height: fit-content;
    width: 100%;
    height: 100%;
    gap: 3px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
}

.info-title {
    font-size: 50px;
    color: #1F2937;
    font-weight: 900;
    margin: 56px 0px;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 64px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}

li img {
    width: 350px;
    height: 350px;
    border-radius: 24px;
}

li p {
    font-weight: normal;
    color: #3a3a3a;
    font-size: 24px;
    margin: 0px;
    padding: 12px;
}

.quote-section {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote {
    display: grid;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 36px;
    color: #1F2937;
}

.quote-author {
    font-size: 28px;
    font-weight: bold;
    justify-self: right;
}

.bottom {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    width: 770px;
    height: 165px;
    padding: 0px 128px;
    border-radius: 12px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
}

.cta-title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 6px;
}

.cta-subtext {
    font-size: 18px;
}

.sign-up-button {
    display: flex;
    height: 45px;
    width: 120px;
    border: #E5E7EB solid 2px;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 6px;
    padding: 0px 12px;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.sign-up-button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

footer {
  background-color: #1F2937;
  color: #F9FAF8;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px;
}